

.sparql {
    margin-top: 5rem;
}

#inputSparql{
    border: 2px solid #000; /* Borde negro */
    border-radius: 3px; /* Bordes redondeados */
    background-color: white;
}

.custom-border {
    border-color: #007bff; /* Cambia este color al que desees */
    width: 50%; /* Ajusta el ancho del input */
  }